################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Ablage/bin/Debug
/Ablage/obj/Debug
/Ablage/AblagenController.cs~RF2c12c5.TMP
/AblageClientTest/bin/Debug/log
/AblageClientTest/bin/Debug
/AblageClientTest/obj/Debug
/AblageServer/obj/Debug
/packages
/AblageServer/bin/Debug
/.vs
/AblageServer/AblageServerController.cs~RF35d35d0.TMP
/Crypto/obj/Debug
/Encryption/obj/Debug
/Crypto/bin/Debug
/AblagenService/bin/Debug/log
/AblagenService/bin/Debug
/AblagenService/obj/Debug
/WpfApplication1/bin/Debug
/WpfApplication1/obj/Debug
/WpfClient/bin/Debug
/WpfClient/obj/Debug
